Source: kirbytools
Section: misc
Priority: optional
Maintainer: Uwe Gehring <adspectus@fastmail.com>
Build-Depends: debhelper (>= 10), docbook-xsl, docbook-xml, xsltproc
Standards-Version: 4.1.2

Package: kirbytools
Architecture: all
Depends: apache2, coreutils (>= 8.26-3), curl, jq, libapache2-mod-php | php-cgi, sudo, wget, ${misc:Depends}
Suggests: vhostmanage
Description: Tools to create & manage kirby websites with apache2
 Various tools to create & manage kirby websites with apache2

